@using Smc.SafetyMap.Web.Areas.App.Startup;
@using Smc.SafetyMap.Authorization

@{
	ViewBag.CurrentPageName = AppPageNames.Tenant.PCRAModuleQueue;
}

@model Smc.SafetyMap.Web.Areas.App.Models.PCRAModule.PCRAModuleConstructionSafetyViewModel;

<environment names="Development">
	@section Styles {
		<link rel="stylesheet" abp-href="/lib/bootstrap-toggle/css/bootstrap-toggle.css" asp-append-version="true" />
		<link rel="stylesheet" abp-href="/view-resources/Areas/App/Common/CSS/smc-bootstrap-toggle.css" asp-append-version="true" />
		<link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/PCRAModule/ConstructionSafetySection/PCRAModuleConstructionSafetySection.css" asp-append-version="true" />
	}
	@section Scripts {
		<script abp-src="/lib/bootstrap-toggle/js/bootstrap-toggle.js"></script>
		<script abp-src="/view-resources/Areas/App/Views/PCRAModule/ConstructionSafetySection/PCRAModuleConstructionSafetySection.js" asp-append-version="true"></script>
	}
</environment>
<environment names="Staging,Production">
	@section Styles {
		<link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/PCRAModule/ConstructionSafetySection/PCRAModuleConstructionSafetySection.min.css" asp-append-version="true" />
	}

	@section Scripts {
		<script abp-src="/view-resources/Areas/App/Views/PCRAModule/ConstructionSafetySection/PCRAModuleConstructionSafetySection.min.js" asp-append-version="true"></script>
	}
</environment>

<div class="m-content">
	<div class="m-portlet ">
		<div class="m-portlet__head">
			<div class="m-portlet-title">
				<h3 class="m-portlet__head-title m--padding-top-20">General Risks</h3>
			</div>
		</div>

		<div class="m-portlet__body">

			@*first four are multiselect/special case, so write out explicitly*@
			<div class="form-group row">

				<div class="col-sm-6">
					<div>
						<label>Project Impact Risks</label>
						<label class="smc-multiselect-display"></label>
					</div>

					<div class="dropdown">

						<button class="btn btn-secondary dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Check all that apply for project Impacts
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							@foreach (var risk in Model.GeneralRiskProjectImpactOptions)
							{
								<div>
									<label>
										<input type="checkbox" class="checkbox smc-multiselect-checkbox" name="projectImpactCheckbox" value="@risk.Text" />
										<label>@risk.Text</label>
									</label>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<div>
						<label>Chemical Hazards</label>
						<label class="smc-multiselect-display"></label>
					</div>

					<div class="dropdown">

						<button class="btn btn-secondary dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Select all anticipated chemical hazards:
						</button>
						<div class="dropdown-menu col-xl-12" aria-labelledby="dropdownMenuButton">
							@foreach (var risk in Model.GeneralRiskChemicalHazardOptions)
							{
								<div>
									<label>
										<input type="checkbox" class="checkbox smc-multiselect-checkbox" name="chemicalRiskCheckbox" value="@risk.Text" />
										<label>@risk.Text</label>
									</label>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<div>
						<label>Hazardous Waste</label><label class="smc-multiselect-display"></label>
					</div>
					<div class="dropdown">

						<button class="btn btn-secondary dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Select all anticipated hazardous waste:
						</button>
						<div class="dropdown-menu col-xl-12" aria-labelledby="dropdownMenuButton">
							@foreach (var risk in Model.GeneralRiskHazardousWasteOptions)
							{
								<div>
									<label>
										<input type="checkbox" class="checkbox smc-multiselect-checkbox" name="hazardousWasteCheckbox" value="@risk.Text" />
										<label>@risk.Text</label>
									</label>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">

				<div class="col-sm-6">
					<div>
						<label>Research Repositories</label>
						<label class="col-form-label smc-multiselect-display"></label>
					</div>

					<div class="dropdown">

						<button class="btn btn-secondary dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Select Research Repositories affected:
						</button>
						<div class="dropdown-menu col-xl-12" aria-labelledby="dropdownMenuButton">
							@foreach (var risk in Model.GeneralRiskResearchRepoOptions)
							{
								<div>
									<label>
										<input type="checkbox" class="checkbox smc-multiselect-checkbox" name="researchRepoCheckbox" value="@risk.Text" />
										<label>@risk.Text</label>
									</label>
								</div>
							}
						</div>
					</div>
				</div>
			</div>

			@*everything after this point can be table driven*@
			<div class="form-group row">
				<div class="col">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = false}).Required,
							true ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No"
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label">Is Special Scheduling required for this work due to noise, vibration or specific infection prevention &amp; control measures?</lable>
					</div>
				</div>
			</div>
			<div class="form-group row">

				<div class="col-sm-6">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = false}).Required,
							true ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No"
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label">Is decommissioning required?</lable>
					</div>
				</div>
			</div>
			<div class="form-group row">

				<div class="col-sm-6">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = false}).Required,
							true ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No"
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label">Is ARCH Training applicable for this job? If yes, ensure all workers go through training.</lable>
					</div>
				</div>
			</div>
			<div class="form-group row">

				<div class="col">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = true}).Required,
							false ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No"
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label">Is MRI Training applicable for this job? If yes, ensure all workers go through training.</lable>
					</div>
				</div>
			</div>
			<div class="form-group row">

				<div class="col-sm-6">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = false}).Required,
							false ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No",
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label">Will Decontamination be required prior to start of project</lable>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-label">
				<h3 class="m-portlet__head-title m--padding-top-20">Construction Impacts</h3>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="form-group row">

				<div class="col">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = false}).Required,
							true ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No"
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label smc-toggle-label">
							Will Caulking, masonry, paint and/or window components be disturbed within the scope of this porject?
						</lable>
					</div>
				</div>
			</div>

			<div class="form-group row">

				<div class="col">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = false}).Required,
							true ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No"
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label">
							Is excessive noise or vibration anticipated?
						</lable>
					</div>
				</div>
			</div>

			<div class="form-group row">

				<div class="col">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = false}).Required,
							true ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No"
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label">
							Is work anticipated near air handlers or intakes?
						</lable>
					</div>
				</div>
			</div>

			<div class="form-group row">

				<div class="col">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = false}).Required,
							true ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No"
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label">
							Are fumes or odors anticipated due to application of paints/adhesives/mastics or equivalent?
						</lable>
					</div>
				</div>
			</div>

			<div class="form-group row">

				<div class="col">
					<div class="input-group">
						@Html.CheckBoxFor(
							m=> (new { Required = false}).Required,
							false ?
							new {
								data_toggle="toggle",
								data_on = "Yes",
								data_off = "No",
							} as object :
							new
							{
								data_toggle = "toggle",
								data_on = "Yes",
								data_off = "No",
								disabled = "disabled"
							} as object
						)
						<lable class="col-form-label smc-toggle-label">Will non destructive testing (x-ray) be rquired? *If yes, submit a "BCH Industrial Radiography eform".</lable>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-label">
				<h3 class="m-portlet__head-title m--padding-top-20">Construction Impacts 2</h3>
			</div>
		</div>
		<div class="m-portlet__body">
			@*<form name="ConstructionImpactsQuestion">
				@foreach (var question in Model.Data.ConstructionSectionQA)
				{

					<div class="form-group row">

						<div class="col">
							<div class="input-group">
								@Html.CheckBoxFor(
									q => question.Value,
									true ?
									new {
										data_toggle="toggle",
										data_on = "Yes",
										data_off = "No",

									} as object :
									new
									{
										data_toggle = "toggle",
										data_on = "Yes",
										data_off = "No",
										disabled = "disabled",
									} as object
								)
								<lable class="col-form-label smc-toggle-label smc-toggle-label">
									@question.Text
								</lable>
							</div>
						</div>
					</div>
				};
			</form>*@


		</div>
	</div>
</div>